<div class="w3-content w3-container w3-padding-64" id="contact">
    <h3 class="w3-center">HOW TO CONTACT ME</h3>
    <p class="w3-center"><em>I'd love hear from you!</em></p>

    <div class="w3-row w3-padding-32 w3-section">
        <div class="w3-col m12 w3-panel w3-center">
            <p>You can contact me through the traditional way:</p>
            <div class="w3-large w3-margin-bottom">
                <i class="fa fa-map-marker fa-fw w3-xlarge w3-margin-right"></i> Bni Brak, Israel<br>
                <i class="fa fa-envelope fa-fw w3-xlarge w3-margin-right"></i>hishtadlut100@gmail.com<br>
            </div>
            <p>Or if you preffer con could also contact me by:</p>
            <div class="w3-large w3-margin-bottom">
                <i class="fa fa-linkedin-square w3-xlarge w3-margin-right" aria-hidden="true"></i><a href="https://www.linkedin.com/in/avremi-friedman-409b3b16a/" target="_blank">LinkedIn</a><br>
                <i class="fa fa-github w3-xlarge w3-margin-right" aria-hidden="true"></i><a href="https://github.com/hishtadlut" target="_blank">GitHub</a><br>
                <i class="fa fa-stack-overflow w3-xlarge w3-margin-right" aria-hidden="true"></i><a href="https://stackoverflow.com/users/10925171/%d7%90%d7%91%d7%a8%d7%99%d7%9e%d7%99-%d7%a4%d7%a8%d7%99%d7%93%d7%9e%d7%9f" target="_blank">StackOverflow</a><br>
            </div>
        </div>
    </div>
</div>
